<!DOCTYPE html>
<html ng-app='share'>
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.js" charset="utf-8"></script>

    <script src="./js/module.js" charset="utf-8"></script>
    <script src="./js/dash.controller.js" charset="utf-8"></script>
    <script src="./js/factory.dash.js" charset="utf-8"></script>
    <script src="./js/controller.js" charset="utf-8"></script>
    <script src="./js/factory.share.js" charset="utf-8"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/600.css">
  </head>
  <body >

    <nav class="navbar navbar-inverse" ng-controller='shareController as share'>
      <div class="container-fluid">
        <div class="navbar-header right">
          <a href="/"><h3 class="col-xs-4">Home</h3></a>
          <h3 class="col-xs-4">How it Works</h3>
          <a href="/logout"><h3 class="col-xs-4" ng-show='share.data'>logout</h3></a>
          <!-- <a href="/auth"><h3 class="col-xs-4" ng-hide='share.data'>Login / Signup</h3></a> -->
        </div>
      </div>
    </nav>

      <div class="angles">
      <div class="right-angle" ng-click='download =! download' ><h1>Download Files</h1></div>
      <div class="left-angle" ng-click='upload =! upload' ><h1>Upload Files</h1></div>
    </div>

      <!-- <div ng-class="{'background': share.upload || share.download}"></div> -->


    <div ng-controller='dashController as dash' ng-hide='upload || download'>

      <h1>{{dash.greeting}} {{dash.data.email}}</h1>

      <div class="containner">
        <div class="row">
          <div class="col-xs-3 userCodes" ng-repeat='uploads in dash.files | limitTo: dash.blockLimit'>

            <h1 class='delete' ng-click='dash.deleteBlock(uploads._id,uploads.files)' alt='Delete this Block'>X</h1>
            <h1 class='add' ngf-select='dash.addToBlock(uploads._id,dash.newfiles)' multiple ngf-multiple=true ng-model='dash.newfiles'>+</h1>
            <div class="blockTitle">

              <h3 ng-model='dCode'>Download Code: {{uploads.downloadCode}}</h3>
              <h4>Date Created: {{uploads.createdAt | date}}</h4>
            </div>
            <div class="uploadedFiles" ng-repeat='files in uploads.files | limitTo: dash.limit'>
            <div class="uploads">
              <a href="/download?path={{files.path}}" download='{{files.name}}'><h6 ng-hide='name'><img class='icon' ng-src="{{files.fileTypePath}}" alt=""> {{files.name | limitTo:25}}</h6></a>

            </div>
            <input type="text" name="" value="" placeholder="{{files.name}}" ng-show='name' ng-model='newName'>

            <div class="blockButtons">

              <img class='editImg' src='/docIMG/edit-button.png' ng-click='name =! name' ng-hide='name'>
              <button class='delete-file' ng-click='dash.delete(uploads._id, files)' ng-hide='name'>X</button>

              <button type="button" name="button" ng-click='dash.editName(uploads._id,files,newName)' ng-show='name'>submit name</button>
              <button type="button" name="button" ng-click='name =! name' ng-show='name'>cancel</button>
              <!-- <button type="button" name="button" ng-hide='name'>view</button> -->
            </div>
        </div>
          <button type="button" name="button" ng-click='dash.moreFiles()' ng-if='uploads.files.length > dash.limit'>Show 5 more Files in this Block</button>
        </div>
      </div>
    </div>

    <button class='moreBlocks' type="button" name="button" ng-click='dash.moreBlocks()' ng-if='dash.files.length > dash.blockLimit'>Show More Blocks</button>
  </div>








    <div class="container" ng-controller='shareController as share'>
      <div class="row">


      <form class="newModal" ngf-drop multiple ng-model='share.newfiles' ng-show='upload'>
        <h1 ng-click='upload =! upload'>X</h1>
        <div class="form-group">
          <!-- <button class="drop-box" ngf-drop multiple ng-model='share.newfiles'>Drag and Drop</button> -->
          <h3>Drag and Drop anywhere</h3>
          <h6>or</h6>

          <button ngf-select multiple ng-model='share.newfiles'>Select Files</button>
          <h6 ng-hide='share.data'>size limit 100mg</h6>
          <h6 ng-show='share.data'>size limit 500mg</h6>
          <h2 ng-show='share.big'>Upload is too big, <a href="/auth">create or sign</a> in to be able to upload up to 500mg</h2>

          <h5 ng-repeat='name in share.newfiles'>{{name.name}}</h5>
        </div>


       <div class="form-group" ng-hide='share.data'>
         <label for="Email" >Email address *</label>
         <input type="email" class="form-control" id="Email" placeholder="Email" ng-model='share.email'>
       </div>

       <div class="form-group">
         <label for="downloadCode">Download Code *</label>
         <input ng-class='{red: share.checkCode === true}' class="form-control" id="downloadCode" placeholder="Download Code *" ng-model='share.downloadCode'>
         <input type="checkbox" ng-click='password =! password'>
         <h6>password protect your download **</h6>
         <input type="text" class='form-control' placeholder='Download Code Password' ng-show='password'>
       </div>

       <button type="submit" class="btn btn-default" ng-click='share.submit()'>Submit</button>
       <h6>* = required<br>** = optional</h6>
      </form>


      <form class="newModal" ng-show='download'>
        <h1 ng-click='download =! download'>X</h1>
        <div class="form-group">
          <label for="fetchCode" >Enter a Download Code</label>
          <input ng-class='{red: share.noCode === true}' class='form-control' placeholder='{{share.userCodePlaceHolder}}' ng-model='share.userCode'>

        </div>
        <button type="submit" class="btn btn-default" ng-click='share.download()'>Submit</button>
        <br>
        <h5>{{share.noDice}}</h5>
        <div ng-repeat='file in share.dataFiles.files'>

        <a href='/download?path={{file.path}}' download='{{file.name}}'><h5><img class='icon' ng-src="{{file.fileTypePath}}" alt=""> {{file.name}}</h5></a>
        <!-- <img src="{{path}}" alt=""> -->
        </div>
        <!-- <img src="./public/img/Block-1490729577837-IMG_0027.JPG" alt="">
        <img src="./img/Block-1490729577837-IMG_0027.JPG" alt=""> -->
      </form>


      </div>
    </div>


  </body>
</html>
