.right{
  float: right;
}

.drop-box{
  width: 100%;
  height: 80px;
  border: 1px solid red;
}

.red {
  border-color: red;
}

form {
  border: 1px solid grey;
  border-radius: 5px;
  width: 40vw;
  padding: 10px;
  /*margin: 10px;*/
}

.icon {
  width: 20px;
  display: inline-block;
}

.userCodes {
  border: 1px solid grey;
  padding: 3%;
  margin: 1%;
  border-radius: 5px;
  width: 30%;
  position: relative;
  left: 2vw;
  height: 45vh;
}

.userCodes>h2{
  font-size: 2vw;
}

.add{
  position: absolute;
  top: 1vh;
  left: 1vw;
  border: none;
  background: white;
  color: blue;
}

.delete{
  position: absolute;
  top: 1vh;
  right: 1vw;    border: none;
  background: white;
  color: red;
}



.newModal{
  width: 50vw;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: black;
}

.background{
  background-color: grey;
  opacity: 30;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.left-select > h1{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.right-select{
  position: absolute;
  width: 62vw;
  height: 70vh;
  left: 38vw;
  background-color: grey;
  /*transform: rotate(0deg) scale(1) skew(-30deg) translate(0px);*/

}
.left-select {
  width: 60vw;
    height: 70vh;
    margin: 0 0 0 -135px;
    -webkit-transform: skew(-20deg);
       -moz-transform: skew(-20deg);
         -o-transform: skew(-20deg);
    background: black;
    position:absolute;
}

.right-select > h1{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

/*.uploadedFiles{
  display: inline-block;
}*/

.uploads{
  display: inline-block;
  position: relative;
}

.uploads>a>h6{
  font-size: 1vw;

}

.blockButtons{
  display: inline-block;
  float: right;
}
/*.blockButtons>button{
  width: 12vw;
}*/

.delete-file{
  border: none;
  background-color: white;
  color: red;
  font-size: 2vw;
}

.editImg{
  width: 2vw;
}
